/*--------------------------------------------------
Global CSS
--------------------------------------------------*/
* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

/*end: Global CSS
--------------------------------------------------*/




/*--------------------------------------------------
Structure
--------------------------------------------------*/
.w-col {
    width: 100%;
    height: 100vh;
    padding: 20px 0 0;
}

.container {
    width: 100%;
    float: left;
    padding: 8%;
}

.swd_head_text {
    padding: 45px 0;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.50);
    margin: 0px;
}

a.swd_button {
	display: table;
	text-decoration: none;
	margin: 40px 5% 0px;
	border: 2px solid #fff;
	padding: 12px 73px 12px 25px;
	text-transform: uppercase;
	border-radius: 60px;
	position: relative;
	text-shadow: 0 1px 2px #333;
	-moz-box-shadow: 0 0 4px #000;
	-webkit-box-shadow: 0 0 4px#000;
	box-shadow: inset 0 0 6px #494949;
	float: left;
}
a.swd_button:after {
	content: "";
	width: 2px;
	height: 100%;
	position: absolute;
	background: rgba(255,255,255,0.5);
	right: 47px;
	top: 0px;
}
a.swd_button:before {
	content: "";
	background: url(../images/phone-icon.png);
	height: 100%;
	width: 9px;
	background-size: 100%;
	position: absolute;
	right: 22px;
	top: 0px;
	background-repeat: no-repeat;
	background-position: center;
}

/*end: Structure
--------------------------------------------------*/




/*--------------------------------------------------
Colors
--------------------------------------------------*/
.w-col {
    background: #4a90e2;
}
.w-tophd,.swd_head_text,a.swd_button {
	color: #fff;
}

/*end: Colors
--------------------------------------------------*/




/*--------------------------------------------------
Fonts & Typography
--------------------------------------------------*/

.w-tophd {
    font-size: 16px;
    text-transform: uppercase;
}
.swd_head_text {
    font-family: "Archivo Black";
}
.swd_head_text {
    font-size: 46px;
    line-height: 54px;
}
a.swd_button{
	font-size: 16px;
	font-weight: bold;
}
.swd_head_text {    
	font-weight: 900;
}

/*end: Fonts & Typography
--------------------------------------------------*/


/*--------------------------------------------------
Media Queries
--------------------------------------------------*/

/*If screen is bigger than given size below*/
@media screen and (min-width: 500px) {

}

/*If screen is smaller than given size below*/
/*try not use the following media query. Our goal
is to go from small to large (mobile first or small 
screen first.) So we don't usually want to apply 
styles for screens when they are smaller than something
we rather want to target something when screen gets
bigger. */
@media screen and (max-width: 500px) {

}

/*end: Media Queries
--------------------------------------------------*/


/*--------------------------------------------------
normalize.css: Downloaded: 1 Dec 2015
--------------------------------------------------*/

/*put it in a different CSS file*/


/*end: normalize.css: